- id: react_ru_bot
  secret: {{react_ru_bot_oauth_secret}}
  scopes:
    - react_ru/predict
    - react_ru/train
    - react_ru/exact_match/train
    - react_ru/totems/train
    - cas/predict
    - cas/train
- id: local_coach
  secret: {{local_coach_oauth_secret}}
  scopes:
    - react_ru/predict
    - react_ru/train
    - react_ru/train_bulk
    - react_ru/exact_match/train
    - cas/train
