- id: react_ru_bot
  secret: 4kR8EQndpCUj
  scopes:
    - react_ru/predict
    - react_ru/train
    - react_ru/exact_match/train
    - react_ru/totems/train
    - cas/train
- id: local_coach
  secret: 58OhopFPZ7Ib
  scopes:
    - react_ru/predict
    - react_ru/train
    - react_ru/train_bulk
    - react_ru/exact_match/train
    - cas/train
